.default {
    -fx-border-color: black;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-color: #e0e0e0;
}

.highlight {
    -fx-border-color: black;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-color: #3f3d3d;
}